.navbar {
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 95vw;
    min-height: 95px;
}

.nav-link {
    text-align: left;
}

.nav-link>a {
    padding: 15px;
    color: white;
}

.nav-menu>div {
    padding: 0 5px;
}