::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    width: 5px;
    border-radius: 3px;
    transition: all 500ms;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    transition: all 500ms;
}