@font-face {
    font-family: gotham;
    src: url(./assets/font/GothamLight.ttf);
}

@font-face {
    font-family: gotham;
    src: url(./assets/font/GothamMedium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: gotham;
    src: url(./assets/font/GothamBold.ttf);
    font-weight: 700;
}

body {
    margin: 0;
    font-family: gotham;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: black;
    color: white;
    font-size: 1em;
}

a {
    text-decoration: none;
    transition: all 500ms;
}

a:active {
    font-weight: 700;
    transition: all 500ms;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}